<a id="top-menu-hamburger-trigger" class="far fa fa-bars"></a>
<div id="top-menu-hamburger">
  <h2><span><%= l(:top_menu_hamburger_user) %></span></h2>
  <%= content_tag 'ul' do %>
    <%= content_tag('li',
                    link_to_user_with_text(
                      User.current,
                      :text => l(:top_menu_hamburger_activity)
                    )
        ) if User.current.logged? %>
  <% end %>
  <%= render_menu :account_menu -%>

  <% if User.current.admin? %>
    <h2><span><%= l(:top_menu_hamburger_additional_features) %></span></h2>
    <%= render_menu :top_menu_hamburger_additional_features -%>
  <% end %>

  <%if render_menu :top_menu_hamburger_plugins %>
    <h2><span><%= l(:top_menu_hamburger_plugins) %></span></h2>
    <%= render_menu :top_menu_hamburger_plugins %>
  <%end%>

  <h2><span><%= l(:top_menu_hamburger_system) %></span></h2>
  <%= render_menu :top_menu_hamburger_system -%>
</div>
